<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pse-data-receiver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d4aa71ad-399d-43fc-9eaf-dbdd0406a6ce/resourceGroups/Project-software-engineering/providers/Microsoft.Web/sites/pse-data-receiver</ResourceId>
    <UserName>$pse-data-receiver</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pse-data-receiver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>